#painel {

    width: 100%;
    max-width: 1200px;

    height: 500px;

    margin: auto;

    background: white;

    border-radius: 20px;

    border: 3px solid #cfcfcf;

    position: relative;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}

/* COMPONENTES */

.componente {

    position: absolute;

    text-align: center;

}

/* IMAGENS */

.componente img {

    width: 140px;

    user-select: none;

}

/* PONTO DE CONEXÃO */

.ponto {

    width: 18px;
    height: 18px;

    background: #2f4f6f;

    border-radius: 50%;

    position: absolute;

    bottom: -10px;

    left: 50%;

    transform: translateX(-50%);

    border: 3px solid white;

}

/* POSIÇÕES */

#energia {

    top: 140px;
    left: 60px;

}

#disjuntor {

    top: 140px;
    left: 330px;

}

#botao {

    top: 140px;
    left: 600px;

}

#led {

    top: 140px;
    left: 870px;

}

/* LED LIGADO */

.led-ligado {

    filter:
        brightness(1.8) drop-shadow(0 0 15px lime) drop-shadow(0 0 30px lime);

}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {

    #painel {

        overflow-x: auto;
        overflow-y: hidden;

    }

}


#painel2 {
    width: 100%;
    max-width: 1400px;
    height: 550px;
    margin: auto;
    background: white;
    border-radius: 20px;
    border: 3px solid #cfcfcf;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

/* COMPONENTES */
.componente2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.componente2 img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    user-select: none;
}

/* POSIÇÕES */
#fonte2 {
    top: 170px;
    left: 40px;
}

#disjuntor2 {
    top: 170px;
    left: 300px;
}

#contator2 {
    top: 170px;
    left: 560px;
}

#rele2 {
    top: 170px;
    left: 820px;
}

#motor2 {
    top: 170px;
    left: 1080px;
}

/* WRAPPER RESPONSIVO */
.painel3-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}

/* PAINEL */

#painel3 {
    width: 1450px;
    height: 700px;
    margin: auto;
    background: white;
    border-radius: 20px;
    border: 3px solid #cfcfcf;
    position: relative;
    overflow: hidden;
}

/* COMPONENTES */
.componente3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* IMAGENS */
.componente3 img {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

#fonte3 {
    top: 250px;
    left: 40px;
}

#disjuntor3 {
    top: 250px;
    left: 240px;
}

#nf3 {
    top: 250px;
    left: 450px;
}

#na3 {
    top: 250px;
    left: 660px;
}

#releT3 {
    top: 250px;
    left: 870px;
}

#bobina3 {
    top: 250px;
    left: 1080px;
}

/* SELO */
#selo3 {
    top: 40px;
    left: 660px;
}

/* LED */
#led3 {
    top: 470px;
    left: 1080px;
}

.led-ligado3 {
    filter:
        brightness(3)
        drop-shadow(0 0 10px lime)
        drop-shadow(0 0 25px lime)
        drop-shadow(0 0 40px lime);
    transform: scale(1.05);

}

@media screen and (max-width: 1400px){
    .painel3-wrapper{
        overflow-x: auto;
    }

}